{% extends 'base.html.twig' %}

{% block title %}ControleDouanier{% endblock %}

{% block body %}
    <h1>ControleDouanier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_controle</th>
                <td>{{ controle_douanier.idControle }}</td>
            </tr>
            <tr>
                <th>Pays_douane</th>
                <td>{{ controle_douanier.paysDouane }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ controle_douanier.statut }}</td>
            </tr>
            <tr>
                <th>Date_controle</th>
                <td>{{ controle_douanier.dateControle ? controle_douanier.dateControle|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Commentaires</th>
                <td>{{ controle_douanier.commentaires }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ controle_douanier.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ controle_douanier.longitude }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_controle_douanier_index') }}">back to list</a>

    <a href="{{ path('app_controle_douanier_edit', {'id_controle': controle_douanier.id_controle}) }}">edit</a>

    {{ include('controle_douanier/_delete_form.html.twig') }}
{% endblock %}
