{% extends 'base.html.twig' %}

{% block title %}User Dashboard{% endblock %}

{% block body %}
    <h1 style="margin-bottom: 20px;">User List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Birthday</th>
                <th>Gender</th>
                <th>Picture</th>
                <th>Phone</th>
                <th>Level</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.userUsername }}</td>
                <td>{{ user.userEmail }}</td>
                <td>{{ user.userPassword }}</td>
                <td>{{ user.userFirstname }}</td>
                <td>{{ user.userLastname }}</td>
                <td>{{ user.userBirthday ? user.userBirthday|date('Y-m-d') : '' }}</td>
                <td>{{ user.userGender }}</td>
                <td>
                    {% if user.userPicture %}
                        <img src="{{ asset('uploads/pictures/' ~ user.userPicture) }}" alt="Profile" width="60">
                    {% else %}
                        <span>No Picture</span>
                    {% endif %}
                </td>
                <td>{{ user.userPhonenumber }}</td>
                <td>{{ user.userLevel }}</td>
                <td>{{ user.userRole }}</td>
                <td>
                    <a class="btn" href="{{ path('app_user_show', {'user_id':  user.getUserId()}) }}">Show</a>
                    <a class="btn" href="{{ path('app_user_edit', {'user_id':user.getUserId()}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">No users found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="{{ path('app_user_new') }}">Create New</a>
{% endblock %}
